<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <title>Shopee</title>
  </head>
  <body>
    <nav class="container-fluid topnav">
      <div class="container mt-lg-2">
        <div class="row">
          <div class="col-3">
            <div class="row">
              <div class="col">Sell Center</div>
              <div class="col">First Sell</div>
              <div class="col">Download</div>
            </div>
          </div>
          <div class="col-6"></div>
          <div class="col-3">
            <div class="row">
              <div class="col">Notifications</div>
              <div class="col text-md-center">Help</div>
              <div class="col text-md-center">Login</div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <nav class="topnav">
      <div class="container-lg">
        <div class="row">
          <div class="col-lg-1">
            <div class="logo">
              <a href="#">Shopee</a>
            </div>
          </div>
          <div class="col-lg-10">
            <form class="search">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="ลูกค้าใหม่ รับเลย โค้ดส่วนลด หรือโค้ดส่งฟรี"
                />
                <button class="btn btn-primary" type="submit">Search</button>
              </div>
            </form>
          </div>
          <div class="col-lg-1"></div>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="category-shopee">
        <a href="">
          <div class="text-center">
            <div class="category-size">
              <div class="category-image">
                <img
                  src="../../pictures/th-50009109-d8220d7c0ef294b59a75cb3a2fac9352_xhdpi.gif"
                  alt="ช้อปปี้เทรนด์ฮิต"
                  style="width: 45px; height: 50px"
                />
              </div>
            </div>
            <div class="category-set-text">ช้อปปี้เทรนด์ฮิต</div>
          </div>
        </a>

        <a href="">
          <div class="text-center">
            <div class="category-size">
              <div class="category-image">
                <img
                  src="../../pictures/th-50009109-4aa07f992f58d87251a7e51db3704a2b_xhdpi.png"
                  alt="อิเล็กทรอนิกส์"
                  style="width: 45px; height: 50px"
                />
              </div>
            </div>
            <div class="category-set-text">อิเล็กทรอนิกส์</div>
          </div>
        </a>

        <a href="">
          <div class="text-center">
            <div class="category-size">
              <div class="category-image">
                <img
                  src="../../pictures/th-50009109-c255b82019f4fa5b33da339d8d1f839d_xhdpi.png"
                  alt="ลูกค้าใหม่"
                  style="width: 45px; height: 50px"
                />
              </div>
            </div>
            <div class="category-set-text">ลูกค้าใหม่</div>
          </div>
        </a>

        <a href="">
          <div class="text-center">
            <div class="category-size">
              <div class="category-image">
                <img
                  src="../../pictures/th-50009109-d04a36aa08888fcfb5458c72f18d0c2b_xhdpi.png"
                  alt="ซูเปอร์มาร์เก็ต"
                  style="width: 45px; height: 50px"
                />
              </div>
            </div>
            <div class="category-set-text">ซูเปอร์มาร์เก็ต</div>
          </div>
        </a>

        <a href="">
          <div class="text-center">
            <div class="category-size">
              <div class="category-image">
                <img
                  src="../../pictures/th-50009109-aeabf36909c9bb1f970de6685e73a602_xhdpi.png"
                  alt="เก็บคอยน์แลกโค้ด"
                  style="width: 45px; height: 50px"
                />
              </div>
            </div>
            <div class="category-set-text">เก็บคอยน์แลกโค้ด</div>
          </div>
        </a>

        <a href="">
          <div class="text-center">
            <div class="category-size">
              <div class="category-image">
                <img
                  src="../../pictures/th-50009109-dc9108f7d758ee297aab7157c96e5bb1_xhdpi.png"
                  alt="ช้อปปี้โฮม"
                  style="width: 45px; height: 50px"
                />
              </div>
            </div>
            <div class="category-set-text">ช้อปปี้โฮม</div>
          </div>
        </a>

        <a href="">
          <div class="text-center">
            <div class="category-size">
              <div class="category-image">
                <img
                  src="../../pictures/th-50009109-3bdb7794629696a11a0cc5c609cbd0b4_xhdpi.png"
                  alt="ช้อปปี้ถูกชัวร์"
                  style="width: 45px; height: 50px"
                />
              </div>
            </div>
            <div class="category-set-text">ช้อปปี้ถูกชัวร์</div>
          </div>
        </a>

        <a href="">
          <div class="text-center">
            <div class="category-size">
              <div class="category-image">
                <img
                  src="../../pictures/th-50009109-dc09ce0f3eee0303db1753ec78f1a2be_xhdpi.png"
                  alt="ส่งฟรี"
                  style="width: 45px; height: 50px"
                />
              </div>
            </div>
            <div class="category-set-text">ส่งฟรี</div>
          </div>
        </a>

        <a href="">
          <div class="text-center">
            <div class="category-size">
              <div class="category-image">
                <img
                  src="../../pictures/th-50009109-a513d09c3a7f6c0e4c5e0f7cc778daf7_xhdpi.png"
                  alt="shopee Mall"
                  style="width: 45px; height: 50px"
                />
              </div>
            </div>
            <div class="category-set-text">shopee Mall</div>
          </div>
        </a>
      </div>

      <div class="image-recommend mt-lg-4">
        <img
          src="../../pictures/th-50009109-4511584405faf59f920c914b3bee8be5.jpg"
          alt=""
        />
      </div>

      <div class="">
        <div class="name-more-category">หมวดหมู่</div>
        <div class="image-carousel">
          <section class="image-carousel-item-list-wrapper">
            <div class="box-item">ความงามเเละของใช้ส่วนตัว</div>
            <div class="box-item">เสื้อผ้าเเฟชั่นผู้ชาย</div>
            <div class="box-item">กระเป๋า</div>
            <div class="box-item">รองเท้าผู้หญิง</div>
            <div class="box-item">นาฬิกาเเละเเว่นตา</div>
            <div class="box-item">สื่อบันเทิงภายในบ้าน</div>
            <div class="box-item">กล้องและอุปกรณ์</div>
            <div class="box-item">ของเล่น สินค้าแม่และเด็ก</div>
            <div class="box-item">กลุ่มผลิตภัณฑ์เพื่อสุขภาพ</div>
            <div class="box-item">เสื้อผ้าเเฟชั่นผู้หญิง</div>
            <div class="box-item">รองเท้าผู้ชาย</div>
            <div class="box-item">เครื่องประดับ</div>
            <div class="box-item">เครื่องใช้ในบ้าน</div>
            <div class="box-item">มือถือเเละอุปกรณ์เสริม</div>
            <div class="box-item">คอมพิวเตอร์เเะลเเล็ปท็อป</div>
            <div class="box-item">อาหารเเละเครื่องดื่ม</div>
          </section>
        </div>
      </div>

      <div class="row">
        <section class="card-item">
          <div class="card" style="width: 18rem">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
          <div class="card" style="width: 18rem">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
          <div class="card" style="width: 18rem">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
          <div class="card" style="width: 18rem">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
          <div class="card" style="width: 18rem">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
          <div class="card" style="width: 18rem">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
          <div class="card" style="width: 18rem">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
          <div class="card" style="width: 18rem">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
          <div class="card" style="width: 18rem">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
          <div class="card" style="width: 18rem">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
          <div class="card" style="width: 18rem">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
          <div class="card" style="width: 18rem">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
